// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    height: 80px;
    background-color: rgba(221, 221, 221, 0.722);
}

.header-c{
    height: 100%;
}